body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Favicon - Replace 'favicon.ico' with the actual path to your icon */
link[rel="icon"] {
    href: url('images/favicon.ico');
}
